.table-responsive {
  max-height: 700px;  
  overflow-y: auto;   
  overflow-x: auto;   
} 

.tabela-cortadores tr.editando > * {
  background-color: #fff3cd !important; 
  transition: background-color 0.3s ease;
} 

.tabela-cortadores tbody tr:hover > * {
  background-color: #fff3cd;
  cursor: pointer;
  transition: background-color 0.2s ease;
} 


