@media (min-width: 992px) {
    .navbar .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
} 

body {
  overflow: hidden;
}

.logo-navbar {
    width: 120px;
    height: auto;
    object-fit: contain;
} 

.table-responsive {
  max-height: 700px;  
  overflow-y: auto;   
  overflow-x: auto;   
} 

.tabela-usuarios tr.editando {
  background-color: #fff3cd !important; 
  transition: background-color 0.3s ease;
} 

.tabela-usuarios tbody tr:hover {
  background-color: #fff3cd;
  cursor: pointer;
  transition: background-color 0.2s ease;
}